<h1>Olá, <%= @school.name %></h1>

<h2>Por favor, confirme o cadastro da escola.</h2>

<p>
    Para confirmar o cadastro, <%= link_to "clique aqui", @confirmation_link %>
</p>

<p>
    Obrigado! O <%= link_to "DiscussYourCity", root_url %> espera ser útil no melhoramento do seu colégio!
</p>
