<div class="cadastro-aluno container">

    <h2>Cadastro do aluno</h2>
    <span>Não achou sua escola? <%= link_to "Clique aqui!", new_notify_school_path %></span>

    <div class="formulario">
        <%= render 'form' %>
    </div>
</div>
