<div class="cadastro-aluno container">
	<h2><%= t('students.new.first_line') %></h2>
	<br><br>
    <span><%= t('students.new.second_line') %> <%= link_to t('students.new.click_here'), new_notify_school_path %></span>

    <div class="formulario">
        <%= render 'form' %>
    </div>
</div>
