<h2><%= t('email.reset_password_school.first_line') %></h2>

<p>
	<%= t 'email.reset_password_school.confirm_link_html', link: link_to(t('email.reset_password_school.click_here'), edit_password_reset_school_url(@school.password_reset_token)) %>
</p>

<p><%= t('email.reset_password_school.third_line') %></p>
