<h2>Olá, tudo bom?</h2>
<h3>
    Um aluno do colégio de vocês está
    interessado em participar do DiscussYourSchool,
    uma plataforma online onde é possível receber
    sugestões para a resolução de problemas da escola
</h3>

<h3>
    Vamos lá! Cadastre-se!
</h3>

<h3>Clique aqui para se cadastrar.</h3>
