<h2><%= t('email.notify_school.first_line') %></h2>
<h3>
    <%= t('email.notify_school.second_line') %>
</h3>

<h3>
    <%= t('email.notify_school.third_line') %>
</h3>

<h3>
	<%= t 'email.notify_school.confirm_link_html', link: link_to(t('email.notify_school.click_here'), root_url) %>
</h3>
