<p id="notice">
    <%= notice %>
</p>

<h2>Escola: <%= @school.name %></h2>

<% if school_signed_in? && current_school == @school %>
    <p>
        <%= link_to 'Editar perfil da escola', edit_school_path(@school) %>
    </p>
<% end %>
