<h2><%= t('email.reset_password_student.first_line') %></h2>

<p>
	<%= t 'email.reset_password_student.confirm_link_html', link: link_to(t('email.reset_password_student.click_here'), edit_password_reset_student_url(@student.password_reset_token)) %>
</p>

<p><%= t('email.reset_password_student.third_line') %></p>
