<div class="posts container">
	<% if @posts.count == 0 %>
		<h2 style="text-align: center;">Sem discussões de problemas e soluções até o momento</h2>
	<% else %>
		<ul class="collection">
			<li class="collection-header"><h4 style="text-align: center; padding: 2%;">Problemas. Solucione-os!</h4></li>
			<li class="divider"></li>
			<% @posts.each do |post| %>
				<li class="collection-item avatar">
					<i class="mdi-image-lens circle red"></i>
					<span class="title titulo" style="font-size: 1.4em;"><%= link_to post.title, post %></span>
					<p>Por:
					<% if post.anonymous == '1' %>
						Anônimo
					<% else %>
					<%= post.student.name %>
					<% end %><br>
	         			Há <%= time_ago_in_words(post.created_at) %>
	      			</p>
					<p class="secondary-content">
						<% if post.comments.count == 0 %>
							Nenhuma solução
						<% elsif post.comments.count == 1 %>
							Uma solução
						<% else %>
							<%= post.comments.count %> soluções
						<% end %>
					</p>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>
