<p>
	<b>Titulo:</b> <%= @post.title %>
</p>

<p>
	<b>Conteúdo:</b> <%= @post.content %>
</p>

<% if @post.anonymous == '0' %>
	<p>
		<b>Por:</b> <%= @post.user.name %>
	</p>
<% else %>
	<p>
		<b>Por:</b> Anônimo
	</p>
<% end %>