.cadastro-escolar {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.editar-cadastro-escolar {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.cadastro-aluno {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.editar-cadastro-aluno {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.student-profile {
    text-align: center;

    .data {
        width: 50%;

        margin-left: 25%;
        margin-top: 2%;
        margin-bottom: 2%;

        padding: 1%;

        h2 {
            font-size: 1.5em;
            display: inline;
        }

        h3 {
            font-size: 1.3em;
            display: inline;
        }
    }

    .options {
        position: absolute;
        top: 12%;
        right: 1.5%;
    }
}

.error {
    color: #d50000;
}
