.cadastro-escolar {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.editar-cadastro-escolar {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.cadastro-aluno {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    span {
        position: absolute;
        top: 16.5%;
        right: 10%;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.editar-cadastro-aluno {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.student-profile {
    text-align: center;

    .data {
        width: 50%;

        margin-left: 25%;
        margin-top: 2%;
        margin-bottom: 2%;

        padding: 1%;

        h2 {
            font-size: 1.5em;
            display: inline;
        }

        h3 {
            font-size: 1.3em;
            display: inline;
        }
    }

    .options {
        position: absolute;
        top: 12%;
        right: 1.5%;
    }
}

.notify-school {
    text-align: center;

    .row {
        margin-top: 5%;

        .btn {
            margin-top: 2%;
        }
    }

    .notice {
        font-size: 1.2em;
        color: #2962ff;
    }

    label {
        font-size: 1.2em;
    }

    input[type=text] {
        text-align: center;
        font-size: 1.2em;
    }
}

.login-escolar {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.login-aluno {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    span {
        position: absolute;
        top: 16.5%;
        right: 10%;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.criar-problema {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }

        textarea {
            font-size: 1.2em;
            height: 100px;
        }
    }
}

.editar-problema {
    text-align: center;

    h2 {
        font-size: 2.8em;
    }

    .formulario {
        label {
            font-size: 1.2em;
        }

        input[type=text],
        input[type=number] {
            text-align: center;
            font-size: 1.2em;
        }

        textarea {
            font-size: 1.2em;
            height: 100px;
        }
    }
}

.posts {
    .titulo {
        font-size: 2em;
    }
}

.vote-post {
}

.voted {
    i {
        color: #0d47a1;
    }
}

.not-voted {
    i {
        color: #37474f;
    }
}

.see-pages {
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.error {
    color: #d50000;
}

.icon-block {
  padding: 0 20px;
}
